/* start globlal values  */

:root {
    --main-padding:80px;
    --border-radius:6px;
    --margin:17px;
    --transition:.3s;

}
::placeholder{
  text-transform: capitalize;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
    padding: 0 15px;
    margin:0 auto;
    
    
}
body {
  font-family:Poppins;
  transition: .3s;
}

/* media  */

  /* Small Screens */
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
     
    }
  }
 

  
  /* Medium Screens */
  
  @media (min-width: 992px) {
    .container {
      width:970px;
    }
  }
  
  /* Large Screens */
  
  @media (min-width: 1200px) {
      .container {
          width: 1170px;
      }
      
  }
/* end global values */
/* start challenge  */
.register {
  padding: var(--main-padding) 0;
   min-height: 100vh ; 
  background-image: url(../images/bg-intro-desktop.png);
  background-size: cover;
  position: relative;
  animation: change-bg 13s linear infinite;
  
  
}
.register::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1a0091;
}
.register .container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}
.register .container .text {
  flex-basis: 50%;
  padding: 15px;
  align-self: center;
  color: white;

}
.register .container .text h1 {
  font-size: 40px;
  font-weight: 800
 
}
.register .container .text p {
  line-height: 1.6; 
}
.register .container .form{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
 align-items: center;
  
}

.register .container .form a.button{
  width: 380px;
  display: block;
  padding: 15px;
  color: white;
  background-color: hsl(248, 32%, 49%);
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  box-shadow: 1px 3px 0px 0px #0000004a;
  transition: var(--transition);
}
.register .container .form a span {
  font-size: 11px;
}

.register .container .form form .input {
  display: block;
  width: 300px;
  padding: 10px 15px;
  border: 1px solid hsl(246, 25%, 77%);
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  outline: hsl(249, 10%, 26%) ;
  caret-color: hsl(249, 10%, 26%) ;
  transition: var(--transition);
}
.register .container .form form {
  background-color: white;
  border-radius: var(--border-radius);
  padding: 40px;
  box-shadow: 1px 3px 0px 0px #0000004a;
}
.register .container .form form input[type="submit"]{
  width: 300px;
  padding: 10px 15px;
  border: none;
  background-color: hsl(154, 59%, 51%);
  color: white;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition)

}
.register .container .form form .terms{
  max-width: 100%;
  text-align: center;
  font-size: 9px;
  color: hsl(246, 25%, 77%);
  margin-top: 15px;
  font-weight: 600;
}
.register .container .form form p.terms > a {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
}
/* desktop done */
/* ----------------------------------------------------------------- */

/* start mobile */
@media(max-width:991px) {
  .register .container .text {
    padding: 0;
    text-align: center;
    margin-bottom: var(--margin);
  }
  .register .container .text h1 {
    font-size: 25px;

  }
  .register .container .text p {
    

  }
  .register .container .form a.button{
    width: 280px;

}
.register .container .form form {
  padding: 40px 20px;
}
.register .container .text {
  flex-basis: 100%
}
.register .container .form form input[type="submit"]{
  padding: 15px 10px;
  font-size: 18px;

}
}

/* end mobile  */
/* hover effects */
.register .container .form form input[type="submit"]:hover {
  background-color:hsl(154, 60%, 36%) ;
}
.register .container .form a.button:hover {
 background-color: rgba(96, 85, 165, .9); 

}
/* background animation  */
@keyframes change-bg {
  0% , 100% {
    background-image: url(../images/bg-intro-desktop.png);
  }
  50% {
    background-image: url(../images/pexels-pixabay-36717.jpg);
  }
}
